<h1>Welcome to offline PEC</h1>
<form>
  <input type="text" class="txt-bucket-name">
  <button class="btn-new-bucket">Start a new bucket</button>
</form>
{{#if buckets}}
  <hr>
  <ul>
  {{#each buckets}}
    <li data-id="{{id}}"><a class="view-bucket" href="#">{{name}}</a> <button class="btn-delete-bucket"><i class="fa fa-trash"></i></li>
  {{/each}}
  </ul>
{{/if}}
